.App {
  text-align: center;
  color: #ff6699;
  font-family: "Boogaloo", cursive;
  font-family: "Handlee", cursive;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border-radius: 3%;
}

.Footer {
  font-weight: 600;
  margin: 0 auto;
}
 
