.Button {
  color: #ff6699;
  border-radius: 20%;
  border: 1px solid #ff99cc;
  font-weight: 600;
  position: relative;
  top: -33px;
  left: 233px;
}
  
.Textbox.form-control {
  font-weight: 500;
  color: #ff6699;
  border-color: #ff6699;
  width: 220px;
}

.Search {
  margin: 10px 620px;
}
  
.WeatherDetails1 {
  font-weight: 500;
  margin: 21px 30px;
}

.WeatherDetails2 {
  margin-top: 45px;
}
  
.WeatherDetails3 {
  font-weight: 500;
  margin-top: 65px;
}
  
.WeatherDetails4 {
  font-weight: 500;
  margin-top: 67px;
  margin-left: -51px;
}

.temperature {
  font-size: 45px;
  font-weight: 500;
}

.unit {
  font-size: 25px;
  font-weight: 600;
}

.WeatherDetails2 #currentWeather {
  max-width: 150px;
  max-height: 150px;
}

#currentCity {
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
}

#country {
  font-size: 35px;
  font-weight: 600;
}
  
  #description {
    text-transform: capitalize;
  }
  
  #current-weather-icon {
    width: 160px;
    height: 160px;
  }
  
  #timeDate {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 40px;
  }
  
  
  