ul {
  list-style: none;
  position: relative;
  top: auto;
  left: auto;
}

.WeeklyForecast {
  text-align: left;
  top: -150px;
  left: 17px;
}
  
.Button {
  color: #ff6699;
  border-radius: 20%;
  border: 1px solid #ff99cc;
  font-weight: 600;
  position: relative;
  left: -259px;
  top: -10px;
}
  
  .Search {
    color: #ff6699;
    display: inline;
    position: relative;
    left: 450px;
    top: -70px;
  }
  
  .Textbox {
    font-weight: 500;
    color: #ff6699;
    border-color: #ff6699;
    width: 200px;
    position: relative;
    left: -268px;
    top: -10px;
  }
  
  .WeatherDetails1 {
    font-weight: 500;
    position: relative;
    left: -228px;
    top: -5px;
  }
  
  .WeatherDetails3 {
    position: relative;
    left: 115px;
    top: -270px;
  }
  
  .WeatherDetails4 {
    position: relative;
    left: 260px;
    top: -365px;
  }
  
  #currentCity {
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  #description {
    text-transform: capitalize;
  }
  
  #currentTemp {
    font-size: 40px;
  }
  
  #current-weather-icon {
    position: relative;
    left: -67px;
    top: -158px;
    width: 150px;
    height: 150px;
  }
  
  #timeDate {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    left: 35px;
    top: 25px;
  }
  
  #search-icon {
    font-size: 20px;
    position: relative;
    left: 30px;
    top: -35px;
  }
  
  #currentlocation-button {
    background-color: transparent;
    border: solid 2px #ff6699;
    border-radius: 20%;
    position: relative;
    left: 233px;
    top: -80px;
    height: 35px;
    width: 35px;
  }
  
  #location-button :hover {
    background-color: #ff99cc;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  
  